
<li id=<%= "frog_#{frog.id}" %>
<h3>
  <tr>
    <td><%= image_tag frog.user.photo.url(:small) %></td>	
    <td><%= link_to frog.user.name, frog.user %></td>
    <td><%= frog.name %></td>
    <span id=<%= "vote_frog_#{frog.id}" %>
	<td>Leaps: <%= frog.votes.size %></td></span>
  </tr>
</h3>
</li>

<div id="vote_form">
	<% form_remote_tag :url => frog_votes_path(frog) do %>
	  <%= submit_tag 'leap it' %>
	<% end %>
</div>
