<% form_tag frogs_path, :method => 'get' do %>
  <p>
	<%= text_field_tag :search, params[:search] %>
	<%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<h3>what's the haps?</h3>

<% form_remote_tag :url => {:action => 'create' } do %>
  <p>
    <%= text_area 'frog','name', :size =>"50x3" %><br /><br />
    <%= submit_tag 'New Frog' %>
  </p>
<% end %>

<div id="new_frog">
  <%= render :partial => @frogs %>
</div>


