<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <%= javascript_include_tag :defaults %> 
  <title>Ideas: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>
  <div id="content"> 
    <div id="main_nav">
	  <%= link_to "Home", frogs_path %> |
	  <% if @current_user %>
	    <%= link_to @current_user.login, edit_user_path(@current_user) %> |
	    <em><%= link_to "(logout)", session_path, :method => :delete %></em>
	  <% else %>
	     <em>Not logged in.</em>
	     <%= link_to 'Login', new_session_path %>
	  <% end %>
	</div>	

<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>
</div>
</body>
</html>
